<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/reset.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../seven_segment/Seven Segment.ttf">
    <title>Panel Kontrolny</title>
</head>
<body>
    <ul class="navbar">
        <li><a class="row" href="alarms">Alarmy</a></li>
        <li><a class="row" href="workers">Pracownicy</a></li>
        <li><a class="row" href="deliveries">Dostawy</a></li>
        <li><a class="row" href="terminal">Terminal</a></li>
        <li><a class="row" href="/">Wróć</a></li>
    </ul>
    <form>
        <select name="alarm_control" id="alarm-control">
            <option value="">Żadne</option>
            <optgroup label="Priorytet">
                <option value='Niski'>Niski</option>
                <option value='Sredni'>Sredni</option>
                <option value='Wysoki'>Wysoki</option>
            </optgroup>
            <optgroup label="Czas">
            <option value="Godzina">Ta Godzina</option>
                <option value="Dzien">Ten Dzień</option>
                <option value="Tydzien">Ostatnie Siedem Dni</option>
                <option value="Miesiac">W tym Miesiącu</option>
            </optgroup>
            <optgroup label="Reaktor">
                <option value=1>Reaktor 1</option>
                <option value=2>Reaktor 2</option>
                <option value=3>Reaktor 3</option>
                <option value=4>Reaktor 4</option>
            </optgroup>
        </select>
        <input type="submit" value="Wyślij">
    </form>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Identyfikator</th>
                    <th>Priorytet</th>
                    <th>Data</th>
                    <th>Id Reaktora</th>
                </tr>
            </thead>
        <tbody>
            {{#each alarms}}
                <tr>
                    <td>{{this.Id}}</td>
                    <td>{{this.TypAlarmu}}</td>
                    <td>{{this.Godzina}}</td>
                    <td>{{this.ReaktorId}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
</body>
</html>