<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/reset.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="script" href="../terminal_script.js">
    <title>Panel Kontrolny</title>
    <title></title>
</head>
<body>
    <ul class="navbar">
        <li><a class="row" href="alarms">Alarmy</a></li>
        <li><a class="row" href="workers">Pracownicy</a></li>
        <li><a class="row" href="deliveries">Dostawy</a></li>
        <li><a class="row" href="terminal">Terminal</a></li>
        <li><a class="row" href="/">Wróć</a></li>
    </ul>
    <div>
        <a href="new_alarm"><button>Dodaj Alarm</button></a>
        <a href="delete_alarm"><button>Usuń Alarm</button></a>
        <a href="new_worker"><button>Dodaj Pracownika</button></a>
        <a href="delete_worker"><button>Usuń Pracownika</button></a>
    </div>
</body>
</html>